@import "style.css";

:root {
    --rot: rotate(0deg);
    --shadow: 1px 1px 0px black,
              2px 2px 0px black,
              3px 3px 0px black,
              4px 4px 0px black,
              5px 5px 0px black,
              6px 6px 0px black;
}
html {background-color: lightgray}

#board_container {
    box-shadow: var(--shadow);
    width: fit-content;
    max-width: 100%;
    display: table;
    margin: auto auto;
	

}

#board {
    margin: 0 auto;
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    border: 35px solid transparent;
    border-image: url(../images/wood-texture.jpg) 300 repeat;
    transform: var(--rot);
}

.black {
    background-color: darkolivegreen;
    color: white;
}

.white {
    background-color: darkgray;
    color: black;
}

.last_move {
    border-style: dotted;
    border-width: 3px;
    border-color: khaki;
}

.position {
    border-style: dotted;
    border-width: 3px;
    border-color: brown;
}


.black.highlight {
    background-color: #eadd61;
}

.white.highlight {
    background-color: darkkhaki;
}

.black:hover {
    // background-color: #7fa046;
      filter: brightness(1.3);
}

.white:hover {
    // background-color: #bfbfbf;
      filter: brightness(1.1);
}

.piece_black {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
    transform: var(--rot);
}

.piece_white {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
    transform: var(--rot);
}
