@import "style.css";

.container {
    margin: 0 auto;
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: white;
    color: black;
}
