@import "style.css";


.container {
    margin: 0 auto;
    width: 640px;
    height: 640px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.black {
    background-color: darkolivegreen;
    color: white;
}

.white {
    background-color: darkgray;
    color: black;
}

.last_move {
    border-style: dotted;
    border-width: 3px;
    border-color: khaki;
}

.black.highlight {
    background-color: #eadd61;
}

.white.highlight {
    background-color: darkkhaki;
}

.black:hover {
    // background-color: #7fa046;
      filter: brightness(1.3);
}

.white:hover {
    // background-color: #bfbfbf;
      filter: brightness(1.1);
}

.piece_black {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}

.piece_white {
    height: 100%;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    display: block;
}
