@import "style.css";


body{
	padding: 0px;
	height: 100vh;
	overflow: hidden; /* No scrollbars */
}

main{
	display: grid;
  	grid-template-columns: 0.3fr 0.7fr;
  	grid-template-rows: auto 30px;
  	height: 1vh;
}




.empty{
    background-color: transparent;
}


#left {
    color: black;
    height: 140vh;
    width: 30vw;
	background-image: url("../images/chessPattern.png");
    
    background-position: left top;
    background-attachment: fixed;
    background-size: contain;
}

    


#right{
    position: absolute;
    left:30vw;
	color: white;
	height: 112.25vh;
	width: 70vw;
	background-image: url("../images/splashImageRight.png"); 
	background-position: 400px top;
	background-attachment: fixed;
	background-size: 140vh;
}


#right h1{
    font-size: 80px;
    position: relative;
    padding: 0px 20px;
    color: darkslategray;
    text-shadow: 5px 5px #FFFFFF;
}
#right p, h2{
    position: relative;
    padding: 0px 20px;
	color: darkslategray;
}

#right h2::before{
    content: "Join a room to play a game"
}

#right h2::after{
    content: "!"
}

#right button{
    position: relative;
    left: 20px;
}









