@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400&display=swap');

body {
  padding: 50px;
  font-family: 'Orbitron', sans-serif;}

.button_container_v {
    display: flex;
    flex-direction: column;
    background-color: #262626;

}
.button_container_h {
    display: flex;
    flex-direction: row;
}

h1 {
    color: white;
    text-shadow: 6px 6px black;
    font-family: 'Bungee', cursive;
}

button {
    font-family: 'Orbitron', sans-serif;	
    color: white;
    transition-duration: 0.4s;
    background-color: darkslategray;
    border: none;
    padding: 16px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.7vmax;
    margin: 2px 4px;
    cursor: pointer;
    border: 2px solid darkslategray;
    font-weight: bold;
    flex: 1;

}

button:hover {
    background-color: white;
    color: darkslategray;
    border: 2px solid darkslategray;
}



button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
